
  <div class="row">
    <div class="col-md-6">

    <a [routerLink]="['/booking-equipment']"   class="btn btn-block btn-success">Book Equipment</a><br><br>

    <a [routerLink]="['/booking-lighting']"   class="btn btn-block btn-success">Book Lighting</a><br><br>

    <a [routerLink]="['/booking-flower']"   class="btn btn-block btn-success">Book flower</a><br><br>

    <a [routerLink]="['/booking-food']"   class="btn btn-block btn-success">Book food</a><br><br> 

  </div>

    <div class="container">
        <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>