<div>
    <app-customer-task></app-customer-task>
  </div>
  <div>
<form  class="custm-form" #changepasswordForm="ngForm" (ngSubmit)="onSubmit(changepasswordForm)">
  <table cellpadding="10"  align="center"  >

    <tr><td>Customer Id :-</td><td><input type="number" class="form-control" name="CustomerId" #CustomerId="ngModel" [(ngModel)]="customerTaskService.selectedChangePass.CustomerId"></td></tr>   
    
    <tr><td>Old Password :- </td><td><input type="password" class="form-control" name="CustomerPassword" #CustomerPassword="ngModel" [(ngModel)]="customerTaskService.selectedChangePass.CustomerPassword"></td></tr>

    <tr><td>New Password :- </td><td><input type="password" class="form-control" name="CustomerNewPassword" #CustomerNewPassword="ngModel" [(ngModel)]="customerTaskService.selectedChangePass.CustomerNewPassword"></td></tr>   
   
    <tr><td>Confirm Password :- </td><td><input type="password" class="form-control" name="CustomerConfirmPassword" #CustomerConfirmPassword="ngModel" [(ngModel)]="customerTaskService.selectedChangePass.CustomerConfirmPassword"></td></tr>   



    
    <tr><td> <br><button [disabled]="!changepasswordForm.valid" type="submit" class="btn btn-lg btn-black btn-info">Submit</button></td>

    <td><br><button type="button" class="btn btn-lg btn-black btn-secondary" (click)="resetForm(changepasswordForm)" >Reset</button></td></tr>                                         
                         

      </table>

</form>
</div>